* {
    font-family: 'Anek Latin';
}

h1 {
    font-family: 'Roboto';
}

h2 {
    cursor: default;
}

#transition-container {
    height : 400px;
    position : relative;
    display : flex;
    justify-content : center;
}


.transition-inactive{
    width: 400px;
    transition: width ease 2s 1s;
}

.transition-active {
    transition: width ease 2s;
    width: 90%;
}

.hide-button {
    top: 90px;
    transition: top ease 2s;
}

.show-button {
    transition: top ease 2s;
    top: 30px;
}

.show-button:hover {
    background-color: gray;
    color: white;
    box-shadow: 0px 0px 5px lightslategray;
}

.hide-comment-title {
    top: 50px;
    opacity: 0;
    transition: top ease 1s 1s, opacity ease 1s;
}

.show-comment-title {
    transition: opacity ease 2s 1.5s;
    opacity: 1;
    top: 0;
}

.hide-form {
    bottom: 40px;
    opacity: 0;
    transition: bottom ease 1s 1s, opacity ease 0.5s;
}

.show-form {
    transition: opacity ease 2s 1.5s;
    opacity: 1;
    bottom: 0;
}

.input-grow {
    width: 75%;
    transition: width ease 2s;
    outline: none;
}

#comment-box::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.comments {
    max-width: inherit;
}

.comments:hover {
    font-weight: bold;
    font-size: 20px;
}

#submit-button:hover {
    background-color: gray;
    color: white;
    box-shadow: 0px 0px 5px gray;
}


.input-shrink {
    width: 35%;
    transition: width ease 2s;
}

.voting-buttons:hover {
    background-color: gray;
    color: white;
}

.dark-mode {
    background-color: rgb(17, 9, 23);
}

.dark-mode-border {
    border-color: gray;
}

.dark-mode-text {
    color: white;
}

.light-mode-text {
    color: black;
}

.light-mode-border {
    border-color: black;
}